/*
=====================================================================
/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   margin: 0;
   height: 100%;
   padding: 0; 
}


/* ------------------------------------------------------------------ */
/* b. Navbar Styles
/* ------------------------------------------------------------------ */


.navbar {
   background: black;
}


/* ------------------------------------------------------------------ */
/* c. Spots Section
/* ------------------------------------------------------------------ */

.logo {
  height: 550px;
  margin-top: -8%;
  margin-left: 23%;
}


#spots {
   background: rgb(85, 83, 83) ;
   padding-top: 96px;
   padding-bottom: 80px;
}


#dropdown-basic {
   padding: 15px;
}

#dropdown-basicSave {
   padding: 15px;
   margin-top: 3%;
}


.dropdownItem {
  margin-right: 3%;
   color: #fff;

}

.button  {
   text-align: center;
}

.dotTop {
   height: 450px;
   width: 450px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   margin-top: 3%;
   margin-left: 1%;
   margin-right: 1%;
   font-weight: bold;
   font-size: xx-large;
 }

.dot {
   height: 550px;
   width: 550px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   margin-top: 5%;
   margin-left: 1%;
   margin-right: 1%;
 }

 .dateSpot {
   text-align: center;
 }

 .movieOptions {
    margin-top: 3%;
    text-align: center;
    color: #fff;
 }

 .movieTitle {
    margin-top: 14%;
    margin-bottom: 3%;
    font-weight: bold;
    color: black;
 }

 .moviePoster {
    height: 300px;
    width: 200px;
 }


/* ------------------------------------------------------------------ */
/* c. Saved Page
/* ------------------------------------------------------------------ */


#saved {
   padding-top: 96px;
   padding-bottom: 96px;
   background: rgb(85, 83, 83) ;
}


#saved h1 {
   font: 30px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0% auto 8px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
   text-align: center;
}


/* ------------------------------------------------------------------ */
/* d. Login/Sign Up Pages
/* ------------------------------------------------------------------ */

#login {
   background: #bbb;
   padding-top: 96px;
   padding-bottom: 80px;
}

#sign-up {
   background: #bbb;
   padding-top: 96px;
   padding-bottom: 80px;
}

.login-head {
   text-align: center;
  font-weight: bold;
}

.form {
   width: 300px;
   margin-left: 40%;
   font-weight: bold;
}

.login-button {
   background-color: black;
   border-radius: 10%;
}


/* ------------------------------------------------------------------ */
/* e. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: black; }
footer a:hover, footer a:focus { color:  #11ABB0; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
    color: #878383;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
}
footer .copyright  li:first-child:before {
    display: none;
}


/* 
--------------------------------------------------------------------- 
 media queries
--------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {

   /* header styles
  ------------------------------------------------------------------ */
header .banner-text h1 {
  margin-top: -30%;     
}

 

}


@media screen and (max-width: 980px) {

   /* header styles
  ------------------------------------------------------------------ */
  header .banner { padding-bottom: 12px; }
  header .banner-text h1 {
     font: 78px/1.1em 'opensans-bold', sans-serif;
     letter-spacing: -1px;      
  }
  header .banner-text h3 {
     font: 17px/1.9em 'librebaskerville-regular', serif;
     width: 80%;
  }
  header .banner-text hr {
     width: 65%;
     margin: 5px auto;
  }
  /* nav-wrap */
  #nav-wrap {
     font: 15px 'opensans-bold', sans-serif;
     letter-spacing: 1.5px;
  }

}


@media screen and (max-width: 768px) {

  
   #nav-wrap {
      font: 12px 'opensans-bold', sans-serif;
      background: transparent !important;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
   #nav-wrap > a {
      width: 48px;
      height: 48px;
      text-align: left;
      background-color: #11ABB0;
      position: relative;
      border: none;
      float: right;
 
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
 
      position: relative;
      top: 0px;
      right: 30px;
   }
 
   #nav-wrap > a:before,
   #nav-wrap > a:after {
      position: absolute;
      border: 2px solid #fff;
      top: 35%;
      left: 25%;
      right: 25%;
      content: '';
   }
   #nav-wrap > a:after { top: 60%; }
 
   /* toggle buttons */
   #nav-wrap:not( :target ) > a:first-of-type,
   #nav-wrap:target > a:last-of-type  {
      display: block;
   }
 
   /* hide menu panel */
   #nav-wrap ul#nav {
      height: auto;
      display: none;
      clear: both;
      width: auto; 
      float: right;     
 
      position: relative;
      top: 12px;
      right: 0;
   }
 
   /* display menu panels */
   #nav-wrap:target > ul#nav	{
      display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
   }
 
   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   }

    /* Control Nav */
  .flex-control-nav {
   text-align: center;
   margin-left: -30px;
}

  /* Header Styles
  -------------------------------------------------------------------- */
  header .banner {
     padding-bottom: 12px;
     padding-top: 6px;
  }
  header .banner-text h1 { 
     font: 68px/1.1em 'opensans-bold', sans-serif;
     margin-top: -40%;
 }
  header .banner-text h3 {
     font: 16px/1.9em 'librebaskerville-regular', serif;
     width: 85%;
  }

  header .banner-text hr {
     width: 80%;
     margin: -2px auto;
  }


}



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) { 

   header .banner-text h1 {
      font: 50px/1em 'opensans-bold', sans-serif;
      margin: -50% auto 8px auto;
   }
  
   header .banner-text h3 {
      font: 30px;
   }

}


@media screen and (max-width: 414px) {
  /* mobile navigation
  -------------------------------------------------------------------- */
  #nav-wrap ul#nav { width: auto; float: none; }

  /* header styles
  -------------------------------------------------------------------- */
  
  header .banner { padding-top: 24px; }
  header .banner-text h1 {
     font: 45px/1.1em 'opensans-bold', sans-serif;      
     margin: -72% auto 14px auto;
  }
  header .banner-text h3 {
     font: 13px/1.9em 'librebaskerville-regular', sans-serif;
     width: 80%;
     margin-top: -1%;
  }
 
  /* header social links */
  header .social { font-size: 20px;}
  header .social li { margin: -10% 6px; }

  
}

@media screen and (max-width: 375px) {

header .banner { padding-top: 24px; }
header .banner-text h1 {
   font: 35px/1.1em 'opensans-bold', sans-serif;      
   margin: -70% auto 14px auto;
}


}
